---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import Hero from '../../components/Hero.astro';
import Features from '../../components/Features.astro';
import Testimonials from '../../components/Testimonials.astro';
import CTA from '../../components/CTA.astro';

import UseCases from '../../components/UseCases.astro';

import translations from '../../content/translations/fr.json';
import Footer from '../../components/Footer.astro';

---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} alternates={[
			{lang: 'x-default', href: 'https://subo.ai/'},
			{lang: 'en', href: 'https://subo.ai/'},
			{lang: 'fr', href: 'https://subo.ai/fr/'},
			{lang: 'es', href: 'https://subo.ai/es/'},
		]} />
	</head>
	<body>
		<Header translations={translations.header} />
		<main>
    		<Hero translations={translations.hero} />
			<Features translations={translations.features} />
			<UseCases translations={translations} />
			<Testimonials translations={translations} />
			<CTA translations={translations} />    
		</main>
		<Footer translations={translations.footer}/>
	</body>
</html>
